#swarm_settings {
    margin-bottom: 1em;
}

    #swarm_settings label {
        display: block;
        margin-top: 0.5em;
    }

#swarm_generate_button {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.swarm-progress {
    color: gray;
    font-style: italic;
}
